.DS_Store
.bundle/
coverage
pkg/
coverage/
spec/dummy/db/*.sqlite3
spec/dummy/log/
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/.ruby-version
spec/dummy/solr/pids
spec/dummy/solr/data
spec/lib/generators/supplejack_api/tmp/