

development:
  clients:
    default:
      database: supplejack_api_development
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>

    strong:
      database: supplejack_api_development
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>

test:
  clients:
    default:
      database: supplejack_api_test
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>
      options:
        read:
          mode: :nearest

    strong:
      database: supplejack_api_test
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>
      options:
        read:
          mode: :nearest
