# The majority of the Supplejack API code is Crown copyright (C) 2014, New Zealand Government,
# and is licensed under the GNU General Public License, version 3.
# One component is a third party component. See https://github.com/DigitalNZ/supplejack_api for details.
#
# Supplejack was created by DigitalNZ at the National Library of NZ and
# the Department of Internal Affairs. http://digitalnz.org/supplejack

development:
  sessions:
    default:
      database: supplejack_api_development
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>

    strong:
      database: supplejack_api_development
      hosts:
        <%= ENV['MONGOID_HOSTS'].gsub(/\s+/, "").split(',') %>

test:
  sessions:
    default:
      database: supplejack_api_test
      hosts:
        - 127.0.0.1:27017
        - db:27017
      options:
        read: :nearest

    strong:
      database: supplejack_api_test
      hosts:
        - 127.0.0.1:27017
        - db:27017
      options:
        read: :nearest
