
<head>
  <title>SupplejackApi</title>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "supplejack_api/application", :media => "all" %>
  <%= javascript_include_tag "supplejack_api/application" %>
  <%= csrf_meta_tags %>
</head>