<%#   
The majority of the Supplejack API code is Crown copyright (C) 2014, New Zealand Government, 
and is licensed under the GNU General Public License, version 3.
One component is a third party component. See https://github.com/DigitalNZ/supplejack_api for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and 
the Department of Internal Affairs. http://digitalnz.org/supplejack 
%>

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<%= render 'layouts/supplejack_api/head' %>
	<body>
		<%= render 'layouts/supplejack_api/top_nav' %>

		<%= flash.map do |type, message|
	      	type = :success if type.to_s == "notice"
	      	content_tag(:div, message, class: "alert-box #{type} margin-top")
	    	end.join.html_safe 
	  %>
	  
		<div class="row">
			<br />
			<%= yield %>
		</div>

		<footer></footer>
	</body>
</html>
